* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./fonts/Montserrat/Montserrat-Light.ttf);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F5F5F5;
    background-attachment:fixed;
    font-family:'Montserrat-Regular', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.toolbar--material {
    background-color: #333!important;
}
.toolbar--material__center {
    font-family:'Montserrat-Regular', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    font-weight: 500;
    color: #F5F5F5!important;
}
p {
    font-family:'Montserrat-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
}
.back-button--material__icon {
    fill: #F5F5F5!important;
}
.button--material {
    background-color: #333!important;
    color: #F5F5F5!important;
}
ons-fab.fab--material{
    background-color: #333!important;
    color: #F5F5F5!important;
    opacity: 0.6!important;
}
.page--material__background {
    background-color: #F5F5F5!important;
}
.tabbar--material__border {
    background-color: #333!important;
}
.alert-dialog-button--material {
    color: #333!important;
}
.alert-dialog-title--material {
    color: #333!important;
}
.modal__content {
    font-size: 30px!important;
}

.titulo_menu {
    font-weight: bold;
    text-align: center;
    color: #F5F5F5;
}

.titulo_menu i{
    font-size: 25px;
}

.card--material {
    background-color: #4682B4;
    border-radius: 20px;
}
.list-item--material__center {
    font-family:'Montserrat-Regular', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    padding: 0 10px!important;
}
ons-fab.compartilhar, ons-fab.copiar {
    background-color: #4682B4!important;
    color: #F5F5F5!important;
    opacity: 1!important;
}
:checked + .switch__toggle {
    box-shadow: inset 0 0 0 2px #333!important;
    background-color: #333!important;
}
h1 {
    font-size: 23px;
}
p, a {
    font-size: 15px!important;
}
.nivel_1 {
    font-size: 20px!important;
    font-weight: bold!important;
    margin-bottom: 5px!important;
}
.sub_nivel_1 {
    font-size: 20px!important;
    margin-left: 40px!important;
}
.nivel_2 {
    font-size: 18px!important;
    font-weight: bold!important;
    margin-left: 40px!important;
}
.nivel_3 {
    font-size: 16px!important;
    font-weight: bold!important;
    margin-left: 40px!important;
}
.sub_nivel_3 {
    font-size: 16px!important;
    margin-left: 60px!important;
}

.nivel_4 {
    font-size: 14px!important;
    margin-left: 35px!important;
}
.nivel_4 label{
    font-size: 14px!important;
    margin-left: 35px!important;
}
.sub_nivel_4{
    font-size: 14px!important;
    margin-left: 100px!important;
}